*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}
main{
  padding: 0 20px;
}

footer {
    margin-top:50px;
    width:100%;
    height:auto;
    background-color: #EDE2C1;

}
.encabezado{
  background-color: #EDE2C1;
}
.encabezado h1{
  display: flex;
  color: black;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  align-items: center;
}
.encabezado h2{
  display: flex;
  color: black;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  align-items: center;
}
.bg-body-tertiary {
 background-color: #EDE2C1 !important;
}
.video{
  display: flex;
  width: 100%;
  justify-content: center;
 }

  .card-pages{
    display: flex;
    justify-content: space-evenly;
  }
  .btn-primary {
    --bs-btn-color: #495057;
    --bs-btn-bg: #ebe1c2;
    --bs-btn-border-color: #212529;
  }

  .card{
    display: flex;
    justify-content: center;
    border-style: double;

  }
  .cards{
    width: 600px;
  }
  .cards img{
    width: 100%;
  }
  .cont-carrusel{
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .carousel{
    display: flex;
    width: 500px;
    height: auto;
  }

  .contenedor-iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
  .contenedor-iconos svg {
    width: 35px;
    height: 25px;
  }
  a{
    color: #000;
    text-decoration: none;
  }
  p{
    font-size: 15px;
    font-style: oblique;
  }
  h5{
    font-size: 17px;
    font-style: oblique;
  }
  .logos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-primary{
    --bs-btn-color: #000000;
    --bs-btn-border-color: #0a0a0a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a8a8a; 
    --bs-btn-hover-border-color: #EDE2C1000;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EDE2C1;
    --bs-btn-active-border-color: #EDE2C1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #EDE2C1;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #EDE2C1;
    --bs-gradient: none;
  }
