*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}
header{
  background-color: #EDE2C1;
}
.encabezado h1{
  display: flex;
  color: black;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  align-items: center;
}
.encabezado h2{
  display: flex;
  color: black;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  align-items: center;
}
.bg-header{
  color: #EDE2C1;
}
.gif{
  display: flex;
  width: 100%;
  justify-content: center;
}
.card-pages{
  display: flex;
  justify-content: space-evenly;
}
.botones{
  color:  #495057;
  background-color: #ebe1c2;
  border-color: #212529;
}
.card{
  display: flex;
  justify-content: center;
  border-style: double;

  }
.cards{
  width: 600px;
  }
.cards img{
  width: 100%;
  }
.cont-carrusel{
  display: flex;
  justify-content: center;
  margin: 20px;
  }
.carousel{
  display: flex;
  width: 500px;
  height: auto;
  }

.contenedor-iconos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.contenedor-iconos svg {
  width: 35px;
  height: 25px;
}
a{
  color: #000;
  text-decoration: none;
}
p{
  font-size: 15px;
  font-style: oblique;
}
h5{
  font-size: 17px;
  font-style: oblique;
}
footer{
  position: absolute;
  background-color: #EDE2C1;
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
}